<h3 class="topic-title">
    What time should I arrive at the venue for the ceremony and reception?
</h3>
<p>
    Please plan to be in your seats by 4:45 p.m. on Friday, September 7, 2018 and allow plenty of time for traffic. The ceremony will begin at 5:00 p.m. on the dot. We would prefer pictures of the bride walking down the aisle to not include guests flailing around in the background as they run to their seats. Food and drinks will follow in the same location immediately after the ceremony. 
</p>