<h3 class="topic-title">
    What should I wear?
</h3>
<p>
    Our dress code is cocktail attire. We already wrote about this in the section called “Attire,” so please don’t make us do it again. The temperature will likely be warm, with an average of 80 degrees. We will be outside for the ceremony, so probably don’t wear your winter parka. Also, the venue is located on a windy hill, so you might bring something to hold your bouffant in place, if you care about keeping it coiffed.
</p>