<h3 class="topic-title">
    Can I bring children?
</h3>
<p>
    While we love kids, we ask that you please leave your children with a babysitter, unless otherwise specified on the invitation. We are happy to help find someone local, so let us know if you need any assistance.
</p>