<h3 class="topic-title">
    Will dinner and drinks be provided at the wedding?
</h3>
<p>
    Yes, we are serving delicious BBQ, so you will have plenty of food. If you are a vegetarian, please let us know in “dietary restrictions” on the RSVP card or on our website, and the caterer will provide you a black bean burger. We also will have all the wine and beer you can drink, along with our favorite cocktail. We will also have sodas for those who won’t drink.
</p>