<h4 class="topic-title">
    Directions?
</h4>
<p>
    Dulany’s Overlook is located at 7701 Dance Hall Rd, Frederick, MD 21701. The venue is equidistant (about 1 hour and 10 minutes driving) from Washington, D.C. and from the 3 nearby airports—Dulles International Airport, Baltimore-Washington International Airport, and Reagan National Airport. For those flying in, feel free to search each of these airports for the best-priced flights. Please plan your trip around rush hour: By 3:30pm on Friday, traffic can add up to 2 hours to your commute. And then you would be angry when you arrive, which would be less than ideal for everyone.
</p>
<h3 class="topic-title">
    From Frederick, MD
</h3>
<p>
    You are welcome to use the group shuttle to and from the venue, but if you choose to drive, it takes up to 25 minutes to drive from Frederick to Dulany’s Overlook in Friday traffic. Take North Market Street north out of town for 2 ½ miles. Take a slight right onto MD-26 E/Liberty Road for 3.5 miles. Turn right onto Dance Hall Road. In ½ mile, turn left into the Dulaney’s Overlook driveway. It is easy to miss: Look for two brick pillars at the beginning of a long drive with a red brick manor at the end. And balloons. And a sign that says “Tiffany & Joey Wedding This Way.”
</p>
<h3 class="topic-title">
    From Dulles International Airport
</h3>
<p>
    Take VA-267 W/Hwy 267 W. Then take exit 1B to merge onto US-15 N/VA-7 E/Leesburg Bypass toward Frederick. Use the right 2 lanes to take exit 17 for MD-26 E toward MD-194/Libertytown/Walkersville. Continue on MD-26 E/Liberty Road for 3 miles, then turn right onto Dance Hall Road. In ½ of a mile, turn left into the Dulaney’s Overlook driveway. It is easy to miss: Look for two brick pillars at the beginning of a long drive with a red brick manor at the end. And balloons. And a sign that says “Tiffany & Joey Wedding This Way.”
</p>
<h3 class="topic-title">
    From Baltimore-Washington International Airport
</h3>
<p>
    Take I-95 N for 2 miles, then take exit 49B for I-695 W toward Towson. Stay on I-695 W for 5 miles, then merge onto I-70 W toward Frederick. Take exit 62 for MD-75 toward Libertytown/Hyattstown. Continue on MD-75 N/Green Valley Road for 3 miles, then turn left onto New London Road. After half a mile, take a slight right onto Gas House Pike. After 4 ½ miles, turn right onto Dance Hall Road. In 1 mile, turn right into the Dulaney’s Overlook driveway. It is easy to miss: Look for two brick pillars at the beginning of a long drive with a red brick manor at the end. And balloons. And a sign that says “Tiffany & Joey Wedding This Way.”
</p>
<h3 class="topic-title">
    From Reagan National Airport & Washington, D.C.
</h3>
<p>
    Take I-395 N/US-1 N for 1 mile. Merge onto the George Washington Memorial Pkwy. In 10 miles, take the exit onto I-495 N toward Maryland. Stay on I-495 for 4 miles, then follow signs to merge onto I-270 N. Continue on I-270 N for 30 miles, then take exit 32 to merge onto I-70 E toward Baltimore. Take exit 56 for MD-144 E and turn left. In 1 mile, turn left onto Linganore Road. In 3 miles, turn right onto Gas House Pike. Continue for ½ mile, then turn left onto Dance Hall Road. In 1 mile, turn right into the Dulaney’s Overlook driveway. It is easy to miss: Look for two brick pillars at the beginning of a long drive with a red brick manor at the end. And balloons. And a sign that says “Tiffany & Joey Wedding This Way.”
</p>