<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tiffany & Joey</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="shortcut icon" href="images/T&J.ico">
  
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="dist/theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css"/>
    
  
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlYNNs7VBO71qiKFMNiD0R9sd8hOt0wD4"></script>
    <script src="dist/theme.min.js"></script>
    
  </head>

  <body>
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="header"><%= erb :header %></div>
  
    <div class="support-topic-hero">
      <div class="container">
        <!--form>
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Search help topics" />
        </form-->
      </div>
    </div>
  
    <div class="support-topic-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-none d-md-block">
            <div class="support-topic-sidebar">
              <h4>
                FAQ
              </h4>
              <a href="#" id="rsvp" class="related-link">
                When should I send in my RSVP for the wedding?
              </a>
              <a href="#" id="stay" class="related-link">
                Where can I stay?
              </a>
              <a href="#" id="location" class="related-link">
                Where is the wedding venue located?
              </a>
              <a href="#" id="arrive_time" class="related-link">
                What time should I arrive at the venue for the ceremony and reception?
              </a>
              <a href="#" id="getting_there" class="related-link">
                How should I get to the wedding?
              </a>
              <a href="#" id="dinner" class="related-link">
                Will dinner and drinks be provided at the wedding?
              </a>
              <a href="#" id="car" class="related-link">
                Can I leave my car at the venue?
              </a>
              <a href="#" id="children" class="related-link">
                Can I bring children?
              </a>
              <a href="#" id="guest" class="related-link">
                Can I bring an adult guest?
              </a>
              <a href="#" id="pet" class="related-link">
                Can I bring my pet?
              </a>
              <a href="#" id="other_events" class="related-link">
                Are there any other events during the weekend I should know about?
              </a>
              <a href="#" id="attire" class="related-link">
                What should I wear?
              </a>
              <a href="#" id="taxi" class="related-link">
                Will there be taxis if I need one?
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="support-topic-body">
              <div id="resultText"><%= erb :'faq/faq_rsvp' %> </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="footer"><%= erb :footer %></div>
  
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>
      $('#stay').on('click', function (){
        $.ajax({
        url: '/faq/stay',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#location').on('click', function (){
        $.ajax({
        url: '/faq/location',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#arrive_time').on('click', function (){
        $.ajax({
        url: '/faq/arrive_time',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#getting_there').on('click', function (){
        $.ajax({
        url: '/faq/getting_there',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#dinner').on('click', function (){
        $.ajax({
        url: '/faq/dinner',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#car').on('click', function (){
        $.ajax({
        url: '/faq/car',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#children').on('click', function (){
        $.ajax({
        url: '/faq/children',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#guest').on('click', function (){
        $.ajax({
        url: '/faq/guest',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#pet').on('click', function (){
        $.ajax({
        url: '/faq/pets',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#other_events').on('click', function (){
        $.ajax({
        url: '/faq/other_events',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#attire').on('click', function (){
        $.ajax({
        url: '/faq/attire',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#taxi').on('click', function (){
        $.ajax({
        url: '/faq/taxi',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });

      $('#rsvp').on('click', function (){
        $.ajax({
        url: '/faq/rsvp',
        contentType: 'application/html',
        type: 'GET',
        dataType: 'html'
        }).success(function (result) {
          $('#resultText').show();
          $('#resultText').html(result);
        })
        .error(function (xhr, status) {
          alert(status);
        })
      });
      
    </script>


</body>

</html>