
<h3 class="topic-title">
  When should I send in my RSVP for the wedding?
</h3>
<p>
  RSVP on our website or via the response card included in your invitation by Wednesday, August 1. If you don’t respond, we will reserve a special table for you that includes a dunce cap you will be required to wear for 15 minutes before eating. Also, please let us know whether you will attend any of the extra weekend events on this website under “RSVP.”
</p>
      