
<h3 class="topic-title">
  Where can I stay?
</h3>
<p>
We held a room block at the Country Inn and Suites (Isn’t that nice of us?). The hotel is located at 5579 Spectrum Drive, Frederick, Maryland, about 30 minutes driving from the venue, with traffic. You can make a reservation under our names (Joslin-Verbeck) by clicking this link, <a href="https://www.countryinns.com/frederickmdjoslinverbeckwedding" class="related-link">https://www.countryinns.com/frederickmdjoslinverbeckwedding</a>, or calling 301-695-2881. Reserve by Tuesday, August 7 to get the $99 group rate. The group shuttle will pick up here. See the Internet for other hotel options.
</p>
      