<h3 class="topic-title">
    How should I get to the wedding?
</h3>
<p>
    We are providing a group shuttle bus to and from the wedding. Look for the bright yellow school bus, which will leave from the Country Inn & Suites at 4:00 p.m. Don’t be late. This is not Speed, and you are not Keanu—you will not be allowed to dangle from the undercarriage or jump from a moving car onto the bus if you miss it. The bus will also have two return trips, one at 9:00 p.m. and one at 10:45 p.m. If you prefer to drive, there will be plenty of free parking at Dulany’s Overlook. A parking attendant will guide you upon arrival (hopefully airport style).
</p>