<h3 class="topic-title">
    Can I bring an adult guest?
</h3>
<p>
    Please refer to your invitation. Anyone who is addressed on the invitation is welcome, but do not bring any additional guests. Our venue will be set up only for those who RSVP. Unless you enjoy dunce caps, as previously mentioned.
</p>