<h3 class="topic-title">
    Are there any other events during the weekend I should know about?
</h3>
<p>
    Yes—sorry in advance, introverts. We will be having a welcome party on Thursday evening and an after-party following the wedding on Friday. Everyone is welcome. Check the back of your invitation for more deets.
</p>