<h3 class="topic-title">
    Can I bring my pet?
</h3>
<p>
    Our dog will be joining us at the wedding—we asked, and she said she prefers not to share the limelight. With that said, however, the Country Inn & Suites is pet friendly. They charge an additional $20 fee, but you are welcome to bring your pets to the hotel, as long as you plan for them to stay there during the actual wedding.
</p>