<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiffany & Joey</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="images/T&J.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="dist/theme.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css"/>
  

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlYNNs7VBO71qiKFMNiD0R9sd8hOt0wD4"></script>
  <script src="dist/theme.min.js"></script>
  
</head>
<body class="event-bg">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--Nav Bar-->
  
  <div id="header"> <%= erb :header %> </div>

  <!-- Banner -->

  <div class="event-hero">
    <div class="container">
    </div>
    <div class="tickets container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="m-md-0">
          September 7th
        </p>
        <a href="#location" class="center-text">
          Dulany's Overlook
        </a>
        <p class="m-0">
          Frederick, Maryland
        </p>
      </div>
    </div>
  </div>

  <!-- Our Story -->

  <div id="OurStory" class="agency-about-hero" style="background-position: 50%">
    <section class="container">
        <div class="row">
          <div class="hero-text">
            <p class="customFadeInUp">
                Our Story
            </p>
          </div>
        </div>
    </section>
  </div>

  <div class="agency-about-intro">
    <div class="container">
      <p>
          Tiffany and Joey first met over tacos in Eastern Market in Washington, D.C. in 2014. The date was surprisingly easy, and the conversation flowed. Joey was a little nervous and kept looking at his watch, so Tiffany hinted by asking, “What time is it?” When he apologized and admitted it was a nervous habit, Tiffany was impressed with his honesty. And relieved that he didn’t have somewhere else to be.
      </p>
      <p>
          It turned out that both loved outdoor activities like camping and hiking, they were great travel buddies, and they shared a desire to own a dog. Tiffany taught Joey how to rock climb, and Joey taught Tiffany how to ski (with mixed results). Joey learned to appreciate the taste of olives and Tiffany learned the differences between a Ford Mustang and a Nissan GT-R—one is objectively better than the other. Together, they adopted a beautiful goof of a dog named Ruby, and look forward to spending the rest of their adventure-filled lives together.
      </p>
    </div>
  </div>

  <!-- Schedule -->

  <div id="Events" class="event-schedule">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Event schedule</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Thursday, Sept 6th</p>
          <div class="activity">
              <span class="time">03:00 pm</span>
              <span class="title">Flying Dog Brewery</span>
            </div>
          <div class="activity">
            <span class="time">05:30 pm</span>
            <span class="title">Wedding Rehearsal</span>
          </div>
          <div class="activity">
            <span class="time">07:00 pm</span>
            <span class="title">Welcome Party</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Friday, Sept 7th</p>
          <div class="activity">
              <span class="time">04:00 pm</span>
              <span class="title">Shuttle to Wedding Venue</span>
            </div>
          <div class="activity">
            <span class="time">05:00 pm</span>
            <span class="title">Wedding</span>
          </div>
          <div class="activity">
            <span class="time">09:00 pm</span>
            <span class="title">1st Shuttle Home</span>
          </div>
          <div class="activity">
              <span class="time">10:45 pm</span>
              <span class="title">Last Shuttle Home</span>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Saturday, Sept 8th</p>
          <div class="activity">
            <span class="time">9:00 am</span>
            <span class="title">Hotel Breakfast</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Photos-->

  <!-- <div class="agency-about-pics">
    <div id="photos"></div>
  </div> -->

  <!--Location-->

  <div id="location" class="event-location">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Location</h1>
        </div>
      </div>
      <div class="row no-gutters address-container">
        <div class="col-md-4 address">
          <h5>Address</h5>
          <p class="mt-4">
            Dulany's Overlook
          </p>
          <p>
            7701 Dance Hall Rd, Frederick, MD 21701
          </p>
          <p class="mb-0">
            <i class="ion-android-call"></i>
            (301) 748-5667
          </p>
          <a class="social-link" href="https://www.instagram.com/explore/locations/1029821689/dulanys-overlook/?hl=en">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="social-link" href="https://www.facebook.com/Dulanys-Overlook-1683351151909690/?utm_campaign=WeddingWire&utm_medium=referral&utm_source=weddingwire.com">
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="col-md-8">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer"> <%= erb :footer %></div>

  <script type="text/javascript">
    $(function () {
      var trigger = new ScrollTrigger({
        toggle: {
          visible: 'customFadeInUp'
        },
        offset: {
          y: 150
        },
        once: true
      });
      
      // Google maps
      var mapLocation = new google.maps.LatLng(39.4433287,-77.3232475);

      var map = new GMaps({
        streetViewControl : false,
        overviewMapControl: false,
        mapTypeControl: false,
        panControl : false,
        scrollwheel: false,
        center: mapLocation,
        el: '#map',
        zoom: 15,
        styles: [
        {
          "featureType":"landscape",
          "stylers":[
          {"saturation":-100},
          {"lightness":65},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"poi",
          "stylers":[
          {"saturation":-100},
          {"lightness":51},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"road.highway",
          "stylers":[
          {"saturation":-100},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"road.arterial",
          "stylers":[
          {"saturation":-100},
          {"lightness":30},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"road.local",
          "stylers":[
          {"saturation":-100},
          {"lightness":40},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"transit",
          "stylers":[
          {"saturation":-100},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"administrative.province",
          "stylers":[
          {"visibility":"off"}
          ]
        },
        {
          "featureType":"water",
          "elementType":"labels",
          "stylers":[
          {"visibility":"on"},
          {"lightness":-25},
          {"saturation":-100}
          ]
        }
        ]
      });

      map.addMarker({
        position: mapLocation,
        icon: 'images/icons/map-icon.png'
      });
    })
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    // e.src='//www.google-analytics.com/analytics.js';
    // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
</body>
</html>