
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tiffany & Joey</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="shortcut icon" href="images/T&J.ico">
  
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="dist/theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css"/>
    
  
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlYNNs7VBO71qiKFMNiD0R9sd8hOt0wD4"></script>
    <script src="dist/theme.min.js"></script>

    <script type="text/javascript" src="https://app.rsvpify.com/embed/500110973"></script>
    <script type="text/javascript" src="https://app.rsvpify.com/js/iframeResizer.min.js"></script>
    
  </head>

  <body class="event-bg">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="header"><%= erb :header %></div>
        
    <script type="text/javascript">iFrameResize({ autoResize: true, checkOrigin: false, heightCalculationMethod: 'grow', enablePublicMethods: true }, "#RSVPifyIFrame"); </script>
    
    <div id="footer"><%= erb :footer %></div>


  </body>